{% extends 'base.html' %} {% block body_class %}onboarding{% endblock %} {%
block content %}

<h1>Welcome!</h1>
<h2>Please select as many topics as you like:</h2>

<div>
  <form method="POST" class="topics_btn">
    <div class="topics">
      <input type="checkbox" value="1" name="topic" id="ai" class="chk-btn" />
      <label for="ai">Artificial Intelligence</label>

      <input
        type="checkbox"
        value="2"
        id="a_&_v_reality"
        name="topic"
        class="chk-btn"
      />
      <label for="a_&_v_reality">Augmented & Virtual Reality</label>

      <input
        type="checkbox"
        value="3"
        id="cryptocurrency"
        name="topic"
        class="chk-btn"
      />
      <label for="cryptocurrency">Cryptocurrency</label>
    </div>
    <div class="topics">
      <input
        type="checkbox"
        value="4"
        id="gaming"
        name="topic"
        class="chk-btn"
      />
      <label for="gaming">Gaming</label>

      <input type="checkbox" value="5" id="iot" name="topic" class="chk-btn" />
      <label for="iot">Internet of Things</label>
    </div>
    <div class="topics">
      <input
        type="checkbox"
        value="6"
        id="technology"
        name="topic"
        class="chk-btn"
      />
      <label for="technology">Technology</label>

      <input
        type="checkbox"
        value="7"
        id="web_dev"
        name="topic"
        class="chk-btn"
      />
      <label for="web_dev">Web Dev</label>
    </div>

    <button class="submit_btn_form" type="submit">Continue</button>
  </form>
</div>

{% endblock %}
